$main-font: 'Arvo', serif;
$main-color: #97ACD1;

body {
	font-family: $main-font;
	background-color: $main-color;
}


h1 {
	color: white;
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

